@model BankManagwmwntSystemEFWeb.Models.Entities.Loan

@{ ViewData["Title"] = "Get Loan"; }

<h1>Get Loan</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="AccountHolderId" class="control-label"></label>
                <input asp-for="AccountHolderId" class="form-control" />
                <span asp-validation-for="AccountHolderId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TypeOfLoan" class="control-label"></label>
                <input asp-for="TypeOfLoan" class="form-control" />
                <span asp-validation-for="TypeOfLoan" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="AmountLeft" class="control-label"></label>
                <input asp-for="AmountLeft" class="form-control" />
                <span asp-validation-for="AmountLeft" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="LoanDate" class="control-label"></label>
                <input asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Get Loan" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


